html {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    top: 0;
}

.wrapper {
    background-image: url("../images/authentication.png");
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    right: 25%;
    position: absolute;
    height: auto;
    margin-top: 50px;
    /* top: 10px; */
}

.btns-wrapper {
    flex: 1;
    height: 100%;
}

.login-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.links-wrapper {
    height: 100px;
    width: 200px;
    /* position: absolute; */
    margin: auto;
    right: 0;
    margin-top: 80%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.child-types {
    display: none;
}

.show-child-types {
    display: flex;
}

.show-organisation-description {
    display: flex;
}

.login-btn {
    background-color: blue;
    color: white;
    height: 50px;
    display: block;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px 10px 0px 35px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.signup-btn {
    background-color: green;
    color: white;
    height: 50px;
    display: block;
    width: 100%;
    border-radius: 3px;
    text-align: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px 10px 0px 35px;
}

.login-container {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    border-radius: 20px;
    background: rgb(184, 91, 0);
    background: linear-gradient(
        198deg,
        rgba(184, 91, 0, 1) 12%,
        rgba(240, 221, 116, 1) 62%,
        rgba(204, 98, 1, 1) 99%
    );
}

.login-top {
    flex: 1;
    margin-bottom: 10px;
    margin-top: 10px;
    /* background-color: red; */
}

.register-top {
    flex: 1;
    margin-bottom: 10px;
    /* margin-top: 0px; */
    /* background-color: red; */
}

.login-top-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
}

.login-top-span {
    font-size: 20px;
    font-weight: bold;
}

.login-middle {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50%;
}

.register-middle {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
}

.input-group {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 30px;
}

.input-label {
    /* margin-bottom: 10px; */
}

.form-input {
    height: 35px;
    width: 400px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    font-weight: bold;
    background-color: rgb(253, 218, 135);
}

.text-area-form-input {
    background-color: rgb(253, 218, 135);
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    font-weight: bold;
}

.fa-user {
    position: absolute;
    top: 50px;
    right: 2px;
    font-size: 20px;
}

.fa-eye {
    position: absolute;
    top: 35px;
    right: 15px;
    font-size: 20px;
}

.form-btn {
    height: 50px;
    width: 100%;
    margin: 30px 0px 30px 0px;
    background: rgb(4, 64, 1);
    background: linear-gradient(
        175deg,
        rgba(4, 64, 1, 1) 31%,
        rgba(14, 168, 6, 1) 79%,
        rgba(120, 247, 127, 1) 100%
    );
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.check-group {
    display: flex;
    flex-direction: row;
    position: relative;
}

.check-input {
    margin-right: 20px;
    margin-top: 6px;
}

.link {
    text-decoration: none;
    right: 0;
    position: absolute;
}

.interesting-types {
    display: none;
}

.interesting-types-label {
    display: none;
}

.show-element {
    display: flex;
}

.child-types-label {
    display: none;
}

.child-types-select {
    display: none;
}

.organisation-label {
    display: none;
}

.organisation-input {
    display: none;
}
