/*reset stylesheet*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: #000000;
    height: 100%;
    border-style: 100%;
}
body {
    height: 100vh;
    width: 100%;
    background-color: #e6d5bc !important;
}

/* register page starts here */

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6d5bc !important;
    color: white;
    /* height: 100vh; */
}

.register-wrapper {
    height: auto;
    background-color: white;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem 2rem;
}

.register-titles {
    color: black;
}

.register-l-heading {
    color: #afafaf;
    font-size: 1.5rem;
    font-weight: 500;
}

.register-m-heading {
    color: black;
    font-size: 1.3rem;
    font-weight: 400;
    text-align: center;
}

.register-form-wrapper label {
    color: black;
    padding: 1rem 1rem;
}

.register-form-wrapper span {
    color: red;
    padding: 1rem 1rem;
    font-weight: 500;
}

.register-goto-login-in {
    display: block;
    background-color: #c2b29a !important;
    color: white !important;
    border-radius: 10px;
    padding: 1rem 1rem;
    width: 100% !important;
    text-align: center;
    text-decoration: none;
    margin: auto !important;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
}

/* register page ends here */

/* login page starts here */

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6d5bc !important;
    color: white;
    max-height: 700px;
    margin-top: 5%;
}

.login-wrapper {
    height: 600px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem 1rem;
}

.login-titles {
    color: black;
}

.login-l-heading {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: #afafaf;
}

.login-m-heading {
    color: #535353;
    font-size: 1.3rem;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
}

.login-form-wrapper,
.register-form-wrapper {
    width: 70%;
}

.login-form-wrapper label,
.register-form-wrapper label {
    color: black;
    padding: 0 1rem;
}

.login-form-wrapper p,
.register-form-wrapper p {
    color: black;
    padding: 2rem 2rem;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0;
    text-transform: uppercase;
}

.login-form-wrapper span,
.register-form-wrapper span {
    color: red;
    padding: 1rem 1rem;
    font-weight: 500;
}

.login-form-wrapper input,
.login-form-wrapper select,
.register-form-wrapper input,
.register-form-wrapper select {
    background-color: #535353;
    color: #c2b29a;
    border-radius: 10px;
    padding: 1rem 1rem;
    width: 100%;
}

.login-form-wrapper textarea,
.register-form-wrapper textarea {
    background-color: #535353;
    color: #c2b29a;
    border-radius: 10px;
    padding: 1rem 1rem;
    outline: none;
}

.login-form-wrapper textarea:focus {
    background-color: #535353;
    color: #c2b29a;
}

.login-form-wrapper .forget-password-link,
.register-form-wrapper .forget-password-link {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    color: #3e3e3e;
    margin-top: -0.6rem;
}

.forget-password-link {
    font-size: 14px;
}

.login-form-wrapper label,
.register-form-wrapper label {
    color: #535353;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
}

.login-form-wrapper button {
    background-color: #c2b29a;
    color: white;
    margin: auto;
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.login-button,
.register-button {
    padding: 1rem 1rem;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
}

.register-button {
    width: 100%;
    background-color: #7c633e !important;
}

.login-goto-sign-in {
    display: block;
    background-color: #7c633e;
    color: white !important;
    border-radius: 10px;
    padding: 1rem 1rem;
    width: 100% !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto !important;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
}

/* login page ends here */
