* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/assets/images/map.png");
    font-family: 'Poor Story', cursive;
}
.success {
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.success>strong{
    text-align: center;
    font-size: 24px;
}

.container{
    width: 80%;
    margin: 50px auto;
}
.img{
    width: 30%;
    margin: auto;
    height: 300px;
}

.img>img{
    width: 100%;
    height: 100%;
}

.for_p{
    width:50%;
    margin: 50px auto;
}
.for_p>p{
    margin-top: 20px;
    text-align: center;
    font-size: 24px;
}

.for_registration{
    width:50%;
    display: flex;
    justify-content: center;
    margin: 50px auto;
}
.reg_btn{
    width: 30%;
    margin-left: 10px;
    background: #AF9065;
    border-radius: 15px;
    padding: 10px;
    font-size: 24px;
    border: none;
    outline: none;
    font-family: 'Poor Story', cursive;
    cursor: pointer;
    user-select: none;
    color: white;
}
.input{
    width: 50%;
    outline: none;
    border-radius: 15px;
    border: none;
    padding-left: 15px;
}

@media only screen and (max-width: 1024px){
    .img{
        width: 50%;
    }
    .for_p{
        width: 80%;
    }
    .for_registration{
        width: 80%;
    }
}

@media only screen and (max-width: 768px){
    .container{
        width: 100%;
    }
    .img{
        width: 80%;
        height: 200px;
    }
    .for_p{
        width: 80%;
    }
    .for_registration{
        width: 90%;
    }
    .input{
        width: 50%;
    }
    .reg_btn{
        width: 50%;
    }
}
